<header>
	<!-- Header desktop -->
	<div class="wrap-menu-header gradient1 trans-0-4">
		<div class="container h-full">
			<div class="wrap_header trans-0-3">

				<!-- Menu -->
				<div class="wrap_menu p-l-45 p-l-0-xl">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Cafe Restaurant</a>
							</li>
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/Home/Menu">Menu</a>
							</li>
							<li>
								<a href="/Home/Rezervasyon">Reservation</a>
							</li>

							<li>
								<a href="/Home/Galeri">Gallery</a>
							</li>

							<li>
								<a href="/Home/About">About</a>
							</li>

							<li>
								<a href="/Home/Blog">Blog</a>
							</li>

							<li>
								<a href="/Home/Contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Social -->
				<div class="social flex-w flex-l-m p-r-20">
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

					<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
				</div>
			</div>
		</div>
	</div>
</header>